*{
	font-family: "Open Sans";
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	margin-top: 0;
}

p{
	font-size: 14px;
	line-height: 24px;
	color: #666;
}

/*component*/
.big-title{
	font-weight: 800;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 30px;
}

.readmore-btn{
	display: inline-block;
	padding: 15px 30px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: 700;
	background: #009aff;
	color: #fff;
}

.readmore-btn:hover{
	text-decoration: none;
	color: #fff;
}

.readmore-btn.inverse{
	border: 2px solid #fff;
	color: #fff;
	background: none;
}

.readmore-btn.inverse:hover{
	color: #fff;
}

/*end of component*/

/*main menu*/
header img.logo{
	display: block;
	height: 50px;
	margin-top: 12px;
}

header nav.navigation{
	position: fixed;
	z-index: 999;
	top: 0;
	width: 100%;
	min-height: 70px;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

header nav.navigation > .btn-navmobile{
	display: none;
}

header nav.navigation ul{
	list-style: none;
	padding-left: 0;
	float: right;
	margin: 27px 0;
	position: relative;
}

header nav.navigation ul > li{
	float: left;
	margin-right: 30px;
}

header nav.navigation ul > li > a{
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

header nav.navigation ul > li.login > a{
	background: #337ab7;
	color: #fff !important;
	padding: 4px 8px;
	border-radius: 3px;
}

header nav.navigation ul > li > a:hover{
	color: #009aff;
	text-decoration: none;
}

header nav.navigation ul > li > a:focus{
	text-decoration: none;
}

header nav.navigation ul > li.dropdown-nav > a > .fa-sort-down{
	float: right;	
	margin-left: 7px;
}

header nav.navigation ul > li.dropdown-nav > ul{
	position: absolute;
	background: #fff;
	padding: 10px 0;
	border-radius: 3px;
	border: 1px solid #ddd;
	visibility: hidden;
	opacity: 0;
	margin-top: 35px;
	padding-left: 0;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

header nav.navigation ul > li.dropdown-nav.active > ul{
	visibility: visible;
	opacity: 1;
}

header nav.navigation ul > li.dropdown-nav > ul > li{
	display: block;
	float: none;
	margin-right: 0;
}

header nav.navigation ul > li.dropdown-nav > ul > li > a{
	color: #333;
	display: block;
	padding: 15px 25px;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

header nav.navigation ul > li.dropdown-nav > ul > li > a:hover{
	background: #009aff;
	color: #fff;
}

header nav.navigation ul > li.dropdown-nav > ul > li > a:focus{
	text-decoration: none;
}

/*scrollspy navigation*/

header nav.navigation.scrollspy-nav,
header.white nav.navigation {
	background: #fff;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, .25);
	-o-box-shadow: 0 0 5px rgba(0, 0, 0, .25);
	box-shadow: 0 0 5px rgba(0, 0, 0, .25);
}

header.white{
	margin-bottom: 75px;
}

header nav.navigation.scrollspy-nav ul > li > a,
header.white nav.navigation ul > li > a{
	color: #333;
}

header nav.navigation.scrollspy-nav ul > li.login > a{
	color: #fff !important;
}

/*end of scrollspy navigation*/

/*end of main menu*/

/*banner top home*/

section.banner-top.home{
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	background-image: url(../images/bg-banner-top.jpg);
	background-position: center;
	background-size: cover;
}

section.banner-top.home:before{
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	position: absolute;
	top: 0;
	left: 0;
}

section.banner-top.home:after{
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../images/pattern-dot.png);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

section.banner-top.home .content{
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 2;
}

section.banner-top.home .content .logo,
section.banner-top.home .content h1.title{
	display: inline-block;
}

section.banner-top.home .content img.logo{
	height: 200px;
	float: left;
}

section.banner-top.home .content h1.title{
	font-size: 48px;
	font-weight: 800;
	line-height: 62px;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 0 30px;
}

/*end of banner top home*/

/*top item home*/

section.top-item.home{
	position: relative;
	display: block;
	margin-top: -83px;
	padding-bottom: 100px;
	z-index: 3;
}

section.top-item.home .row-item{
	text-align: center;
}

section.top-item.home .row-item a{
	width: 165px;
	height: 165px;
	display: inline-block;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .35);
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, .35);
	box-shadow: 0 0 7px rgba(0, 0, 0, .35);
	padding: 30px 0;
	margin-right: 167px;
	position: relative;
}

section.top-item.home .row-item a:before{
	content: " ";
	width: 0;
	height: 0;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: block;
	background: #009aff;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	-o-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
	border: 5px solid #fff;
}

section.top-item.home .row-item a.active:before{
	width: 165px;
	height: 165px;
}

section.top-item.home .row-item a:hover{
	text-decoration: none;
}

section.top-item.home .row-item a:last-child{
	margin-right: 0;
}

section.top-item.home .row-item a .content{
	position: relative;
}

section.top-item.home .row-item a .content svg{
	width: 60px;
	height: 60px;
	fill: #009aff;
	display: block;
	margin: auto;
	margin-bottom: 15px;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	-o-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}

section.top-item.home .row-item a.active .content svg{
	fill: #fff;
}

section.top-item.home .row-item a .content span{
	display: block;
	font-weight: 700;
	color: #009aff;
	text-transform: uppercase;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	-o-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}

section.top-item.home .row-item a.active .content span{
	color: #fff;
}

/*end of item top home*/

/*about us home*/

section.about-us.home{
	padding-bottom: 70px;
	text-align: center;
}

/*end of about us home*/

/*new product*/

section.new-product{
	position: relative;
	padding: 100px 0;
	background-image: url(../images/bg-product.jpg);
	background-position: center;
	background-size: cover;
	border: 1px solid #e9e9e9;
	border-width: 1px 0 1px 0;
}

section.new-product:before{
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .75);
}

section.new-product:after{
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/pattern-dot.png);
	z-index: 1;
}

section.new-product .intro{
	position: relative;
	text-align: center;
	color: #fff;
	z-index: 2;
}

section.new-product h2.big-title{
}

section.new-product .intro p{
	display: block;
	width: 70%;
	margin: auto;
	color: #fff;
}

section.new-product .row-content{
	margin: 60px 0;
	position: relative;
	z-index: 2;
}

section.new-product .row-content a{
	width: 25%;
	height: 100%;
	display: inline-block;
	overflow: hidden;
	margin-bottom: 0;
	margin-right: -4px;
	margin-bottom: -5px;
	position: relative;
}

section.new-product .row-content a:before{
	content: " ";
	width: 100%;
	height: 0;
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 154, 255, .85);
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

section.new-product .row-content a.active:before{
	height: 100%;
}

section.new-product .row-content a:after{
	content: " ";
	width: 100%;
	height: 50%;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
	background: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
	z-index: 1;
}

section.new-product .row-content a.active:after{
	background: none;
}

section.new-product .row-content a.active:after{
	background: none;
}

section.new-product .row-content a figure{
	height: 100%;
}

section.new-product .row-content a figure img{
	width: 105%;
}

section.new-product .row-content a figure figcaption{
	width: 100%;
	position: absolute;
	bottom: -17%;
	padding: 60px 30px 30px 30px;
	color: #fff;
	z-index: 2;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}

section.new-product .row-content a.active figure figcaption{
	bottom: 50%;
	padding: 30px;
	-webkit-transform: translateY(50%);
	-moz-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
}

section.new-product .row-content a figure figcaption h4{
	line-height: 26px;
	font-weight: 700;
	margin-bottom: 20px;
}

section.new-product .row-content a figure figcaption span{
	visibility: hidden;
	opacity: 0;
	-webkit-transition: .35s ease-in-out;
	-moz-transition: .35s ease-in-out;
	-o-transition: .35s ease-in-out;
	transition: .35s ease-in-out;
}

section.new-product .row-content a.active figure figcaption span{
	visibility: visible;
	opacity: 1;
}

section.new-product .readmore-btn{
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 2;
}

/*end of new product*/

/*latest event*/
section.latest-event{
	padding: 100px 0;
}

section.latest-event .big-title{
	text-align: center;
	margin-bottom: 70px;
}

section.latest-event article .date{
	width: 68px;
	height: 68px;
	border-radius: 50%;
	background: #009aff;
	color: #fff;
	text-align: center;
	float: left;
	display: block;
}

section.latest-event article .date .day{
	display: block;
	margin-top: 3px;
	font-size: 32px;
	font-weight: 800;
}

section.latest-event article .date .month{
	display: block;
	margin-top: -10px;
	font-weight: 700;
}

section.latest-event article a.title{
	font-size: 16px;
	line-height: 26px;
	font-weight: 700;
	color: #444;
	margin-top: -5px;
	margin-bottom: 15px;
	display: block;
	margin-left: 83px;
}

section.latest-event article p{
	margin-left: 83px;
	margin-bottom: 15px;
}

section.latest-event article a.readmore{
	margin-left: 83px;
	font-weight: 700;
	color: #999;
}

section.latest-event article a:hover{
	text-decoration: none;
	color: #009aff;
}

/*end of latest event*/

/*latest news*/

section.latest-news{
	padding: 100px 0;
	background: #f8f8f8;
	border-width: 1px 0 1px 0;
}

section.latest-news .big-title{
	text-align: center;
	margin-bottom: 70px;
}

section.latest-news article figure img{
	display: block;
	margin-bottom: 20px;
	width: 100%;
}

section.latest-news article figure figcaption a.title h4{
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
	color: #333;
	margin-bottom: 15px;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

section.latest-news article figure figcaption span.date{
	color: #999;
	margin-bottom: 15px;
	display: block;
	font-size: 13px;
}

section.latest-news article figure figcaption p{
	margin-bottom: 15px;
}

section.latest-news article figure figcaption a.more{
	font-weight: 700;
	font-size: 13px;
	color: #333;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

section.latest-news article figure figcaption a.title:hover,
section.latest-news article figure figcaption a.title:focus,
section.latest-news article figure figcaption a.more:hover,
section.latest-news article figure figcaption a.more:focus,
section.latest-news article figure figcaption a.title h4:hover{
	text-decoration: none;
	color: #009aff;
}

/*end of latest news*/



/*breadcrumb*/

section.breadcrumb{
	padding: 40px 0;
	background-image: url(../images/bg-breadcrumb.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	margin-bottom: 0;
}

section.breadcrumb:before{
	content: " ";
	width: 100%;
	height: 100%;
	background: rgba(0, 154, 255, .85);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

section.breadcrumb h3{
	font-weight: 700;
	color: #fff;
}

section.breadcrumb ul{
	list-style: none;
	padding-left: 0;
}

section.breadcrumb ul li{
	display: inline-block;
	position: relative;
}

section.breadcrumb ul li:after{
	content: " / ";
	color: #fff;
	padding-left: 2px;
	padding-right: 2px;
}

section.breadcrumb ul li:last-child:after{
	content: "";
}

section.breadcrumb ul li a{
	color: #fff;
}

section.breadcrumb ul li.active a{
	font-weight: 700;
}

/*end of breadcrumb*/



/*content*/

section.content{
	margin: 60px 0;
}

section.content .left-bar {
	padding-right: 40px;
}

section.content .left-bar p{
	text-align: justify;
}

/*list news*/

section.content .list-news article figure img{
	width: 100%;
}

section.content .list-news article{
	margin-bottom: 50px;
}

section.content .list-news article .meta{
	margin-top: -4px;
	margin-bottom: 10px;
	font-size: 13px;
}

section.content .list-news article .meta .date{
	color: #bcbcbc;
}

section.content .list-news article .meta .date:after{
	content: " ,";

}

section.content .list-news article .meta .author{
	font-weight: 700;
}

section.content .list-news article a{
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

section.content .list-news article a h4{
	line-height: 24px;
	color: #333;
	margin-top: 0;
	margin-bottom: 10px;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

section.content .list-news article p{
	line-height: 22px;
}

section.content .list-news article a.more{
	font-weight: 700;
	color: #333;
	font-size: 13px;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

section.content .list-news article a:hover,
section.content .list-news article a h4:hover,
section.content .list-news article a.more:hover{
	text-decoration: none;
	color: #009aff;
}


/*end of list news*/


/*list product*/
.list-product article{
	margin-bottom: 50px;
}

.list-product article img{
	width: 100%;
	margin-bottom: 15px;
}

.list-product article p{
	line-height: 22px;
	text-align: left !important;
}

.list-product article a{
	color: #333;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.list-product article a h4{
	color: #333;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.list-product article a.more{
	color: #333;
	font-size: 13px;
	font-weight: 700;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

section.content .list-product article a:hover,
section.content .list-product article a h4:hover,
section.content .list-product article a.more:hover{
	text-decoration: none;
	color: #009aff;
}

/*end of list product*/


/*detail news*/

.detail-news h3{
	margin-bottom: 20px;
}

.detail-product h3{
	margin-bottom: 40px;
}

.detail-news .meta,
.detail-prduct .meta{
	margin-bottom: 20px;
	font-size: 13px;
}

.detail-news .date,
.detail-product .date{
	color: #999;
}

.detail-news .date:after,
.detail-product .date:after{
	content: ", ";
	padding-right: 2px;
}

.detail-news .author,
.detail-product .author{
	font-weight: 700;
	color: #009aff;
}

.detail-news img,
.detail-product img{
	width: 100%;
	margin-bottom: 20px;
} 

/*end of detail news*/


/*pagination*/

.pagi-nation{
	list-style: none;
	padding-left: 0;
}

.pagi-nation li{
	float: left;
	margin-right: 5px;
}

.pagi-nation li a{
	color: #333;
	border: 2px solid #d4d4d4;
	padding: 5px 10px;
}

.pagi-nation li.active a{
	background: #009aff;
	border-color: #009aff;
	color: #fff;
}

.pagi-nation li a{
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3 ease-in-out;
}

.pagi-nation li a:hover{
	background: #009aff;
	border-color: #009aff;
	color: #fff;
	text-decoration: none;
}

.pagi-nation li a:focus{
	text-decoration: none;
}

/*end of pagination*/

/*end of content*/

/*sidebar*/

.right-bar .title{
	font-weight: 800;
	position: relative;
	display: block;
	margin-bottom: 30px;
}

.right-bar .title:before{
	content: " ";
	width: 30px;
	height: 5px;
	background: #e9e9e9;
	display: block;
	position: absolute;
	bottom: -15px;
}

.side-profil,
.side-news{
	margin-bottom: 60px;
}

.side-profil ul{
	list-style: none;
	padding-left: 0;
}

.side-profil ul li{
	display: block;
	margin-bottom: 15px;
	padding-left: 25px;	
	position: relative;
}

.side-profil ul li:before{
	content: " ";
	width: 8px;
	height: 8px;
	display: block;
	background: #009aff;
	position: absolute;
	top: 5px;
	left: 0;
}

.side-profil ul li a{
	font-weight: 700;
	color: #333;
}

.side-profil ul li a{
	font-weight: 700;
	color: #333;
	display: block;
	margin-bottom: 10px;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out
}

.side-profil ul li a:hover{
	text-decoration: none;
	color: #009aff;
}

.row-side-news article{
	margin-bottom: 30px;
	padding-left: 25px;
	position: relative;
}

.row-side-news article:last-child{
	margin-bottom: 0;
}

.row-side-news article:before{
	content: " ";
	width: 9px;
	height: 9px;
	background: #009aff;
	display: block;
	position: absolute;
	top: 8px;
	left: 0;
}

.row-side-news article a{
	line-height: 24px;
	font-weight: 700;
	color: #333;
	display: block;
	margin-bottom: 10px;
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out
}

.row-side-news article a:hover{
	text-decoration: none;
	color: #009aff;
}

.row-side-news article span{
	color: #bcbcbc;
	display: block;
}

/*end of sidebar*/


/*sign up*/

h2.title-signup{
	display: block;
	text-align: center;
	margin-bottom: 50px;
	font-weight: 300;
}

.form-signup{
	display: block;
	width: 55%;
	margin: auto;
	background: #f1f1f1;
	border: 1px solid #e9e9e9;
	padding: 30px;
}

.form-signup input,
.form-signup select,
.form-signup textarea{
	border-radius: 0;
}

.form-signup .form-group{
	margin-bottom: 30px;
}

.form-signup .btn{
	border-radius: 0;
}

.form-signup .form-group .checkbox-inline span{
	line-height: 24px;
}

/*end of sign up*/


/*sign in*/
.login-area,
.banner-login{
	width: 50%; 
	display: inline-table;
	vertical-align: middle;
	margin: -4px;
}

.banner-login{
	padding-right: 30px;
	text-align: center;
}

.banner-login img{
	width: 50%;
	margin-bottom: 20px;
}

.banner-login h2{
	text-transform: uppercase;
	font-weight: 800;
	line-height: 40px;
}

.login-area{
	padding-left: 30px;
}

.login-area form{
	background: #f1f1f1;
	border: 1px solid #e9e9e9;
	padding: 30px;
	width: 80%;
}

.login-area form .form-group{
	margin-bottom: 25px;
}

.login-area form .form-group .form-control,
.login-area form .btn{
	border-radius: 0;
}

.login-area form ul{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.login-area form ul li{
	margin-bottom: 5px;
}

.login-area form ul li:last-child{
	margin-bottom: 0;
}

.login-area form ul li a{
	font-size: 13px;
}

/*end of sign in*/


/*footer*/

footer{
	padding: 70px 0;
	background: #222;
	color: #fff;
}

footer .logo{
	display: block;
	overflow-y: auto;
	margin-bottom: 10px;
}

footer .logo img{
	width: 50px;
	float: left;
	display: block;
}

footer .logo h4{
	font-weight: 700;
	color: #fff;
	line-height: 24px;
	margin-top: 0;
	margin-left: 65px;
}

footer ul{
	padding-left: 0;
	list-style: none;
}

footer ul li{
	margin-bottom: 10px;
	line-height: 24px;
	overflow-y: auto;
}

footer ul li .fa{
	float: left;
	display: block;
}

footer ul li.phone span,
footer ul li.mail span,
footer ul li.fb span,
footer ul li.tw span{
	margin-left: 30px;
}

footer ul li a,
footer ul li span{
	display: block;
	margin-left: 15px;
	margin-top: -5px;
	color: #fff;
}
	
footer p{
	margin-bottom: 0;
	color: #fff;
}

footer h4.title-footer{
	font-weight: 700;
	color: #fff;
	margin-top: 0;
	margin-bottom: 30px;
}

.copyright{
	background: #282828;
	padding: 10px 0;
	color: #999;
	font-size: 12px;
}

/*end of footer*/


