@media (min-width: 992px) and (max-width: 1199px){

}

@media (max-width: 991px){
	header nav.navigation {
		background: #fff;
	}

	header nav.navigation {
		background: #fff;
		border-bottom: 1px solid #ddd;
	}

	header nav.navigation > .container > .col-sm-12.col-xs-12 > ul{
		height: 300px;
		overflow-y: scroll;
	}

	header nav.navigation ul{
		position: absolute;
		background: #fff;
		width: 100%;
		left: 0;
		margin-top: 8px;
		border: 1px solid #ddd;
		border-width: 0 1px 1px 1px;
		border-radius: 0 0 3px 3px;
	}

	header nav.navigation ul > li{
		display: block;
		float: none;
		margin-right: 0;
	}

	header nav.navigation ul > li > a{
		color: #333;
		padding: 15px 25px;
		display: block;
	}

	header nav.navigation ul > li > a:hover{
		color: #fff;
		background: #009aff;
	}

	header nav.navigation ul > li.dropdown-nav > ul{
		position: static;
		max-height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		border-radius: 0;
	}

	header nav.navigation ul > li.dropdown-nav.active > ul{
		max-height: 1000px;
		margin-bottom: 10px;
	}

	header nav.navigation ul > li.dropdown-nav.active > ul > li > a{
		padding-left: 45px;
	}

	header nav.navigation ul > li.dropdown-nav.active > ul > li > a:before{
		content: " ";
		width: 5px;
		height: 5px;
		background: #009aff;
		position: absolute;
		display: block;
		left: 25px;
		margin-top: 8px;
		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}

	header nav.navigation ul > li.dropdown-nav.active > ul > li > a:hover:before{
		background: #fff;
	}
}

@media (min-width: 768px) and (max-width: 991px){

}

@media (max-width: 767px){

}